@import "common";
/* edit config specific */
.edit-config-container {
  padding-bottom: 20px;
  h3 {
    margin-top: 10px;
  }
}

hr.tinyhr {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* bootstrap related */

input[type=range].form-control,
input[type=range].form-control:active {
  box-shadow: none;
  webkit-box-shadow: none;
}

.settings-alert-wrp {
  position: fixed;
  top: 5px;
  left: 10px;
  translate: translateX(-50%);
  max-width: 80%;
  z-index: 1100;
  opacity: 0;
  transition: opacity 0.5s;
  &.visible {
    opacity: 1;
  }
}
.voice-playback-wrp .btn {
  padding: 1px 12px;
}

#tree-import-btn {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    opacity: 0;
    cursor: pointer;
  }
}
form[name="quick-setup"] {
  .submit-btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }
}


.tree-tools-toggle-wrp {
  float: left;
}
#tree-tools {
  margin-left: 40px;
}
