@import "util";
/* edit config specific */
.edit-config-container {
  h3 {
    margin-top: 10px;
  }
}

hr.tinyhr {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* bootstrap related */

input[type=range].form-control,
input[type=range].form-control:active {
  box-shadow: none;
  webkit-box-shadow: none;
}