@import "util";
/* edit config specific */
.edit-config-container {
  h3 {
    margin-top: 10px;
  }
}
.visibility-dependant {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease-out;
}
.visibility-dependant-visible {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
  &.visibility-dependant-mh-xs {
    max-height: 300px;
  }
  @media (min-width: 768px) {
    &.visibility-dependant-mh-xs {
      max-height: 150px;
    }
  }
}
