@import "util";
/* edit config specific */
.edit-config-container {
  h3 {
    margin-top: 10px;
  }
}

hr.tinyhr {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* bootstrap related */

input[type=range].form-control,
input[type=range].form-control:active {
  box-shadow: none;
  webkit-box-shadow: none;
}

.config-alert-wrp {
  position: fixed;
  top: 30px;
  left: 50%;
  translate: translateX(-50%);
  max-width: 80%;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s;
  &.visible {
    opacity: 1;
  }
}
.voice-playback-wrp .btn {
  padding: 1px 12px;
}