/* help bootstrap */
.alert-hidden {
  display: none;
}
.navbar-brand-simplified {
  height: auto;
}
.m-b-10 {
  margin-bottom: 10px;
}

html.ios body,
html.ios .navbar-fixed-top {
  margin-top: 20px !important;
}